/*google Fontok betöltése*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');
/*változók felvétele  - teljes dokumentumra*/
:root {
    /*színek amit használ az oldal*/
    --lightColor: #fff;/*világos szín*/
    --orangeColor: #ffb32f;
    --lightGrey: #f7f7f7;/*szekcióhátterek*/
    --darkColor: #1e283c;/*Címek, sötét szöveg*/
    --greyColor: #757575;/*skillbar*/
    --midGreyColor:#e1e1e1;/*skills doboz számok*/
    --mainFontFamily: 'Open Sans', sans-serif;
    --mainFontColor: #818181;
    --mainFontSize: 16px;
    --headingFontFamily: 'Poppins', sans-serif;
    --lightGreyBorder: 1px solid #ddd;
    --errorColor:#f00;/*hibaüzenetek színe*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
img {
    max-width:100%;
}
html, body {
    scroll-behavior:smooth;
    font-family: var(--mainFontFamily);
    color: var(--mainFontColor);
    line-height: 1.5em;
    font-size: var(--mainFontSize);
    height: 100%;
}
h1,h2,h3,h4 {
    font-family: var(--headingFontFamily);
    color: var(--darkColor);
    line-height: 2em;
}
p {
    margin:0 auto 15px;
}
/* !*iniciálé*!
p:first-letter {
    margin-left: 20px;
    font-size:2em;
    font-weight: 900;
    color:var(--orangeColor);
    display:inline-block;
}*/
.container {
    /*background-color: khaki;*/
    /*min-height:300px;*/
    margin:0 auto;
    padding:0 15px;
}
.flex-holder {
    display: flex;
    flex-direction: column;
}
.flex-3 {
    flex-direction: column;
    align-items: center;
}
.greyBg {
    background-color: var(--lightGrey);
}
/*gombok*/
.btn {
    display:inline-block;
    text-decoration: none;
    color:var(--lightColor);
    background:var(--orangeColor);
    padding:7px 15px;
    text-transform:uppercase;
    font-weight: bold;
    transition:background 0.3s ease-in-out;
    font-size:0.8em;
    border:none;
    cursor:pointer;
}
.btn:hover {
    background:var(--darkColor);
}
/*Fejléc stílusa és háttere*/
#home > header {
    background: url('https://picsum.photos/1920/1080') center center no-repeat;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}
/*Navigáció*/
nav#menu {
    background-color: rgba(0,0,0,.65);
    border-bottom:1px solid rgba(255,255,255,.3);
    box-shadow: 0 0 7px rgba(0,0,0,.3);
    position:absolute;
    left:0;
    top:0;
    right:0;
    z-index:10000;
}
#menuToggle {
    color:#fff;
    position:absolute;
    right:15px;
    top:1em;
    cursor:pointer;
}

#menu > .container {
    position:relative;
}
#menu .logo img {
    width:180px;
    margin:5px 0;
}

ul.mainMenu {
    display:none;
    flex-direction: column;
}
ul.mainMenu > li {
    border-bottom:2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}
ul.mainMenu > li:hover {
    border-color:var(--orangeColor);
}
ul.mainMenu > li > a {
    display:block;
    color: var(--lightColor);
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}
ul.mainMenu > li > a:hover {
    color:var(--orangeColor);
}
/*Sticky navigáció*/
nav#menu.sticky {
    position:fixed;
    background:var(--lightColor);
}
.sticky ul.mainMenu > li > a {
    color: var(--darkColor);
}
.sticky ul.mainMenu > li > a:hover {
    color: var(--orangeColor);
}
.sticky #menuToggle {
    color: var(--mainFontColor);
}
/*HERO*/
#hero,
#hero h1,
#hero h3 {
    color:var(--lightColor);
}
#hero .anim {
    color:var(--orangeColor);
}
/*Szekció címek*/
.sectionTitle {
    text-align: center;
    padding:80px 0 45px;
}
.sectionTitle > .subtitle {
    color: var(--orangeColor);
    font-weight: bold;
}
/*vonalak, spec karakterek: https://www.w3schools.com/cssref/css_entities.asp*/
.sectionTitle > .subtitle:before,
.sectionTitle > .subtitle::after {
    content:'\2014';
    margin:0 20px;
}
.sectionTitle > h2 {
    text-transform: uppercase;
}
.sectionTitle > p {
    max-width:600px;
    margin:0 auto;
    color: var(--darkColor);
    font-size:0.9em;
}
/*grid beállítások*/
.grid-holder {
    display:grid;
}
.grid-holder:not(.grid-1-1) {
     grid-gap:30px;
 }

/**ABOUT SZEKCIÓ**/

.personal-info > li {
    padding:15px 0;
    border-bottom: var(--lightGreyBorder);
}
.personal-info > li > span {
    color:var(--darkColor);
    margin-left:5px;
}
#skill > footer {
    padding:15px 0 30px;
    font-weight:bold;
    color:var(--lightColor);
    background: url('https://picsum.photos/1920/450');
    margin-top:45px;
    background-size:cover;
    /***/
    position:relative;

}
#skill > footer:before {
    position:absolute;
    content:'';
    background:rgba(0,0,0,.85);
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:0;
}
#skill > footer .box {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:30px;
    /**/
    position:relative;
    z-index:1;
}
#skill > footer .icon {
    font-size:2em;
}
/*számok*/
#skill > footer .number {
    color:var(--orangeColor);
    margin:15px auto;
    font-size:1.2em;
}
#skill > footer p {
    text-transform:capitalize;
}
/*skills*/
ul.skills > li {
    display:flex;
    flex-flow:column nowrap;
    margin-bottom: 15px;
}
ul.skills .title {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    font-weight:600;
    font-size:0.8em;
    color:var(--darkColor);
    padding:5px 0;
    text-transform:uppercase;
}
ul.skills .bar-holder {
    background-color: var(--greyColor);
}
ul.skills .bar-inner {
    height:15px;
    background-color:var(--orangeColor);
}
/*SERVICES*/

#services .grid-holder > .box {
    box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:0 15px;
}
#services .grid-holder > .box > .head {
    border-bottom:var(--lightGreyBorder);
    align-self: stretch;
    height:50px;
    margin:0 -15px;
    position:relative;
    overflow:hidden;
}
#services .grid-holder > .box > .head > span {
    font-family:var(--headingFontFamily);
    font-size:3em;
    font-weight:900;
    color:var(--midGreyColor);
    position:absolute;
    right:15px;
    top:0.75em;
    transition:top 0.3s ease-in-out;
}
#services .grid-holder > .box:hover > .head > span {
    top:0.35em;
}
#services h3 {
    text-transform: uppercase;
    margin-top:15px;
}
/*ikon*/
#services .grid-holder > .box > .icon {
    padding:1em;
    background:var(--orangeColor);
    margin:15px auto;
    color:var(--lightColor);
    font-size:2em;
    transition:transform 0.3s ease-in-out;
}
#services .grid-holder > .box:hover > .icon {
    transform:scaleX(-1);
}
/**CONTACT elemek formázása**/
::placeholder {
    color: var(--greyColor);
    font-family: var(--mainFontFamily);
}
.error {
    display: none;
    font-style:italic;
    color:var(--errorColor);
    font-size:.7em;
}
.contactForm label {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.contactForm .btn {
    margin:30px 0;
}

.contactForm input,
.contactForm textarea {
    font-family: var(--mainFontFamily);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--midGreyColor);
    padding: 5px;
    transition: border-bottom-color 0.3s ease-in-out;
}
ul.info > li {
    margin:0 auto 15px;
}
ul.info b {
    display:block;
    color:var(--darkColor);
    text-transform:capitalize;
    margin-bottom:5px;
}
ul.info a {
    color:var(--darkColor);
    text-decoration:none;
}
li.social a {
    margin-right:15px;
}
ul.info a:hover {
    color:var(--mainFontFamily);
}

/*aktiv input mező elérése*/
.contactForm input:focus,
.contactForm textarea:focus {
    border-bottom-color: var(--darkColor);
}

main + footer { /*minden footer ami egy main után van közvetlenül*/
    padding: 15px;
    text-align: center;
}
/*tablet*/
@media screen and (min-width:640px){
    .container {
        /*background-color: yellow;*/
        width:90%;
    }
    .flex-holder {
        flex-direction: row;
    }
    #menu .flex-holder {
        flex-direction: column;
    }
    /**ABOUT SZEKCIÓ**/
    .personal-info {
        columns:2;
        column-gap:2em;
    }
    .flex-holder.flex-2-1 > .box:first-of-type {
        flex:1 0 65%;
    }
    /*skills*/
    .flex-1-1 > .box {
        flex:1 0 50%;
    }
    .flex-3 {
        flex-direction:row;
        justify-content:space-around;
    }
    .grid-3-2-1 {
        grid-template-columns: 1fr 1fr;
    }
    .grid-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .grid-1-1 {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
    }
}
/*destop*/
@media screen and (min-width:1200px){
    .container {
        /*background-color: lime;*/
        width:1200px;
    }
    #menu .flex-holder {
        flex-direction: row;
    }
    /*Navigáció*/
    nav#menu {/*sötétitett menüháttér csak mobilra kell*/
        background-color: rgba(0,0,0,0);
    }
    ul.mainMenu {
        flex:1;
        align-self:center;
        flex-direction:row;
        justify-content: flex-end;
    }
    ul.mainMenu > li {
        margin:10px;
    }
    /*utolsó listaelemen jobbra ne legyen margo*/
    ul.mainMenu > li:last-of-type {
        margin-right:0;
    }
    ul.mainMenu {
        display:flex !important;
    }
    #menuToggle {
        display:none;
    }
    .grid-3-2-1 {
        grid-template-columns: repeat(3, 1fr);
    }
}