* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    /*width: 600px;*/
    height: 500px;
    background: lightblue;
    margin: 25px auto;
}
.box {
    border: 1px solid #000;
    padding: 5px;
}
/***flex elrendezés***/
.container {
    display: flex;
    /*flex-direction: row;
    flex-wrap: nowrap;*/
    flex-flow: row nowrap;/*flex-direction flex-wrap*/
    justify-content: flex-start;/*elrendezés a fő tengelyen - main axis*/
    align-items: flex-start;/*elrendezés a kereszt tengelyen - cross axis*/
}
.box-1 {
    /*align-self: flex-start;*//*cross*/
    /*order:1;main - sorrend default 0*/
    /*width: 100%;*/
}
.box-2 {
    /*align-self: stretch;*//*cross*/
    /*width: 50%;*/
    flex-basis: 250px;
    flex-shrink:1;
}
.box-3 {
    /*align-self: flex-end;*//*cross*/
    /*order:-1;*/
    /*width: 50%;*/
    /*flex-grow: 1;*/
    flex:1 0 auto;/*flex-grow flex-shrink flex-basis*/
}
.box-4 {
    /*align-self: center;*/
}
.box-5 {
    flex-shrink: 1;
}
.w150 {
    width: 150px;
}
.h150 {
    height: 150px;
}