* { /*micro reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 1300px;
}
.container {
    background: lightblue;
    width: 800px;
    margin: 25px auto;/*blokk elem középre helyezése a hordozójában*/
}
.myBox {
    background: khaki;
    text-align: center;
}
.item {
    border:1px solid #000;
    width:150px;
    height: 150px;
    padding: 25px;
    display:inline-block;
    margin: 10px;
}
.clearFloat {/*float elemek utáni takarítás*/
      float:none;
      clear: both;
      width: 0;
      height: 0;
      font-size: 0;
      line-height: 0;
      content: '';
      display: block;
  }