/*oldalra ható stíluslap - külön fileban*/
/*
CSS kiválasztók vagy selectorok
a TAG kiválasztó (case insensitive)
tag {
    stilus-neve: érték(me);
    ...
}
 */
body {
    /*minireset*/
    margin: 0;
    padding: 0;
    background-color: beige;
}
div {
    background-color: orange;
}
span {
    background-color: cornflowerblue;
}
/*hivatkozás(ok) formázása*/
A {
    color:firebrick;
    text-decoration: none;/*aláhúzás eltávolítása*/
}
/*
az ID selector (case sensitive)
#id {
    stilus-neve: érték(me);
    ...
}
*/
#tesztDiv {
    border:3px firebrick dashed;
    color:red;
}
/*
a CLASS selector (cs)
.osztalyneve {
    stilus-neve: érték(me);
    ...
}
*/
.active {
    font-size:1.5em;/*betűméret növelése 1.5szeresére*/
    color:blueviolet !important;
}